.wrapItem {
  border: 1px solid gray;
  padding: 15px;
  margin: 10px 30px;
  background: white;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  justify-content: space-between;
}
.wrap {
  display: flex;
  align-items: center;
  align-content: center;
}
.wrapItem label {
  margin-left: 10px;
}
.show {
  visibility: hidden;
  transition: all 0.4s ease-out;
}
.hide {
  visibility: visible;
}
.wrapItem {
  border: 1px solid gray;
  padding: 15px;
  margin: 10px 30px;
  background: white;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  justify-content: space-between;
}
.wrap {
  display: flex;
  align-items: center;
  align-content: center;
}
.wrapItem label {
  margin-left: 10px;
}
.wrapItem input:checked + label {
  text-decoration: line-through;
  color: #968888;
}
